* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(./pictures/istockphoto-2162849344-612x612.jpg);
  background-size: cover;
  font-family: sans-serif;
}

form {
  flex-direction: column;
  width: 70%;
  height: 80%;
  border: 3px solid rgb(100, 77, 77);
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  background-color: transparent;
  padding: 30px;
  color: rgb(73, 44, 44);
  font-size: 30px;
}

h1 {
  font-size: 45px;
}

.field-wrapper {
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
}

input {
  outline: none;
  cursor: pointer;
  min-width: 0;
}
label {
  width: 170px;
}

#message-subject {
  padding: 10px;
}

#message {
  height: 80px;
  resize: none;
}

#line {
  width: 100%;
  height: 2px;
  background-color: rgb(45, 32, 32);
  margin-top: 2%;
}

button {
  margin-top: 2%;
  margin-left: 180px;
  background-color: transparent;
  padding: 1%;
}

body,
form,
.field-wrapper,
#name,
#phone,
.button-wrapper {
  display: flex;
}
input,
#message-subject,
#message,
button {
  flex: 1;
}

h1,
h2 {
  margin-bottom: 3%;
  margin-left: 1%;
}

h1,
h2,
button {
  font-weight: bold;
}

label,
input,
button {
  font-size: 20px;
}

.field-wrapper,
#name,
#phone {
  gap: 10px;
}

#name,
#email,
#phone,
#message-subject,
#message,
button {
  margin-right: auto;
}

input:valid {
  background-color: white;
  color: rgb(76, 38, 38);
}
input:invalid {
  background-color: rgb(202, 185, 185);
}

@media screen and (max-width: 900px) {
  .field-wrapper {
    flex-wrap: wrap;
  }
  label {
    width: 100%;
  }

  button {
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }

  label {
    font-size: 12px;
  }
  .field-wrapper {
    flex-wrap: wrap;
  }
  input,
  #message-subject,
  #message,
  button {
    font-size: 15px;
  }
}
